<div class="page">
    <div class="concept-factsheet">
        <h2 class="content-title">
            {{ 'CONCEPT.FACTSHEET' | translate }}
        </h2>
    </div>
    <div class="concept-content">
        <h2 class="content-title">
            {{ 'CONCEPT.DESCRIPTION' | translate }}
        </h2>

        <h2 class="content-title">
            {{ 'CONCEPT.HISTORY' | translate }}
        </h2>

        <h2 class="content-title">
            {{ 'CONCEPT.FEATURES' | translate }}
        </h2>
    </div>
</div>