<div class="page" style="text-align:center;padding:20px 50px 50px 50px">
    <h2 class="content-title home-title">{{ 'HOME.INTRODUCTION' | translate }}</h2>

    <h3 class="content-title home-title">{{ 'HOME.NEWCONCEPT' | translate }}</h3>

    <div>{{ 'HOME.CONTENT.NEWCONCEPT' | translate }}</div>

    <h3 class="content-title home-title">{{ 'HOME.INSPIRATION' | translate }}</h3>

    <div>{{ 'HOME.CONTENT.INSPIRATION' | translate }}</div>

    <h3 class="content-title home-title">{{ 'HOME.THETEAM' | translate }}</h3>

    <div>{{ 'HOME.CONTENT.THETEAM' | translate }}</div>

    <h3 class="content-title home-title">{{ 'HOME.WHENRELEASE' | translate }}</h3>

    <div>{{ 'HOME.CONTENT.WHENRELEASE' | translate }}</div>
</div>