@font-face {
    font-family: "Walkway";
    src: url("./fonts/Walkway.ttf");
}

@font-face {
    font-family: "ZonaPro";
    src: url("./fonts/ZonaPro.otf");
}

body {
    font-family: ZonaPro, Arial, Helvetica, sans-serif !important;
    color: #ABABAB !important;
    background: url('images/bg-blured.png');
    margin-top: -10px;
}

.page {
    background-color: black;
    max-width: 900px;
    width:auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.download-button {
    font-family: Walkway;
    border: 1px solid #999999;
    padding: 2px 5px 2px 5px;
    color: #DEDEDE;
    display: block;
    width: 250px;
    margin: 50px auto 0 auto;
    text-align: center;
    cursor: pointer;
}

.download-button:hover {
    border: 1px solid #AAAAAA;
    color: #c3c705;
    border-color:#c3c705;
}

.download-big-text {
    font-size: 12pt;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.download-small-text {
    font-size: 8pt;
    text-transform: uppercase;
}

.title-image {
    margin: 0 auto 0 auto;
    width: 500px;
    height: 62px;
    display: block;
    cursor: pointer;
}

@media (max-width: 543px) {
    .title-image {
        width: 70%;
        height: auto !important;
        margin-left: auto;
        margin-right: auto;
        margin-top:15px;
    }

    .news-header {
        text-align: center;
    }
}

.site-title {
    width: 50px;
    margin: 0 auto 0 auto;
    font-size: 2em;
    margin-bottom: 1em;
}

@media (min-width: 543px) {
    .main-menu-header {
        padding-top: 50px;
        height: 300px;
        background-color: transparent !important;
    }

    .main-menu {
        margin-top: 40px;
        text-align: left !important;
        margin-bottom: 20px !important;
    }
}

.navbar-toggler {
    position:absolute;
    right: 10px;
}

.mobile-title {
    font-family: Walkway;
    color: #DDDDDD;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    text-align: center;
    padding: .5rem 0 0 0 !important;
    font-weight: bold;
    text-transform: uppercase;
}

.main-menu-header {
    background-color: black;
}

.main-menu {
    text-align: center;
    margin: 0 auto 0 auto;
    padding-top:200px;
    background-color: black;
    max-width: 900px;
    padding: 4px 0px 4px 0px !important;
}

.menu-item {
    display: inline-block;
    margin: 0px 0px 0px 0px;
}

.navbar-toggler {
    color:#999999;
    float:right;
}

.menu-item-link {
    font-family: Walkway;
    color: #999999;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding:0px 0px 0px 0px !important;
}

.menu-item-link:hover {
    color: #AAAAAA;
    text-decoration: none !important;
}

.menu-item-link-active {
    color: #DDDDDD !important;
}

.center-loader {
    width:130px;
    height:130px;
    top:40%;
    left:47%;
    display: block;
    position: absolute;
}


.flag-holder {
    display: inline-block;
    float: right;
    margin-right: 10px;
}

.social-icon{
    cursor: pointer;
}

@media (min-width: 543px) {
    .nav-item:not(.social-icon) {
        margin-left: 0.5rem !important;
        margin-right: 2rem !important;
    }
}




/* News */

.news-block:not(:first-child) {
    margin-top: 50px;
}

.black-box {
    width: 40px;
    height: 50px;
    border:2px solid #DDDDDD;
    border-radius: 2px;
    display: inline-block;
    margin-right:5px;
}

.title-text {
    display: inline-block;
    vertical-align: top;
}

.news-header {
    font-family: Walkway;
    margin-bottom: 20px;
    width:100%;
}

.news-title {
    color: #FDFDFD;
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.6em !important;
}

.media-title {
    color: #FDFDFD;
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.6em !important;
    text-align: center;
}

.news-subtitle {
    color: #999999;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 1.3em !important;
}

.news-category {
    color: #DDDDDD;
}

.news-thumbnail {
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 543px) {
    .news-thumbnail {
        display: block;
    }
}

/* Concept */

.concept-factsheet h2, .content-title {
    font-size: 1.6em;
    color:#FDFDFD;
}

.concept-factsheet h3 {
    font-size: 12pt;
    color:#FDFDFD;
    margin-bottom: 4px;
}

.fact-item {
    margin-top: 25px;
    margin-bottom: 25px;
}

.content-item {
    font-size: 12pt;
    margin-top:10px;
    margin-bottom: 20px;
}

.content-title {
    text-transform: uppercase;
}

.factsheet-item {
    font-size: 10pt;
}

/* MEDIA */ 

.screen-item {
    margin-bottom: 15px;
}

.screen-row {
    margin-top: 15px;
}