@font-face {
    font-family: "Walkway";
    src: url("./fonts/Walkway.ttf");
}

@font-face {
    font-family: "ZonaPro";
    src: url("./fonts/ZonaPro.otf");
}

html {
    background-color: black !important;
}

body {
    font-family: ZonaPro, Arial, Helvetica, sans-serif !important;
    color: #ABABAB !important;
    background: url('images/bg-blured.png');
    background-color: black !important;
    background-repeat: no-repeat no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page {
    background-color: black;
    max-width: 900px;
    width:auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    opacity: 0.85;
    padding-bottom: 50px;
}

.download-button {
    font-family: Walkway;
    border: 1px solid #999999;
    padding: 4px 2px 2px 0px;
    color: #FEFEFE;
    display: block;
    width: 260px;
    margin: 50px auto 0 auto;
    text-align: center;
    cursor: pointer;
    line-height: 0.95em;
}

.download-button:hover {
    border: 1px solid #AAAAAA;
    color: #c3c705;
    border-color:#c3c705;
    text-align: center;
    vertical-align: middle;
}

.download-big-text {
    font-size: 14pt;
    text-transform: uppercase;
}

.download-small-text {
    font-size: 8pt;
    text-transform: uppercase;
}

.title-image {
    margin: 0 auto 0 auto;
    width: 500px;
    height: 62px;
    display: block;
    cursor: pointer;
}

@media (max-width: 768px) {
    .title-image {
        width: 70%;
        height: auto !important;
        margin-left: auto;
        margin-right: auto;
        margin-top:15px;
    }

    .news-header {
        text-align: center;
    }

    body {
        background-image: none;
    }
}

.site-title {
    width: 50px;
    margin: 0 auto 0 auto;
    font-size: 2em;
    margin-bottom: 1em;
}

@media (min-width: 768px) {
    .main-menu-header {
        padding-top: 50px;
        height: 150px;
        /* with download button : height: 300px;*/ 
        background-color: transparent !important;
    }

    .main-menu {
        margin-top: 40px;
        text-align: left !important;
        margin-bottom: 20px !important;
            opacity: 0.85;
    }
}

.navbar-toggler {
    position:absolute;
    right: 10px;
}

.mobile-title {
    font-family: Walkway;
    color: #DDDDDD;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    text-align: center;
    padding: .5rem 0 0 0 !important;
    font-weight: bold;
    text-transform: uppercase;
}

.main-menu-header {
    background-color: black;
}

.main-menu {
    border-radius: 0 0 0 0 !important;
    text-align: center;
    margin: 0 auto 0 auto;
    padding-top:200px;
    background-color: black;
    max-width: 900px;
    padding: 4px 0px 4px 0px !important;
}

.menu-item {
    display: inline-block;
    margin: 0px 0px 0px 0px;
}

.navbar-toggler {
    color:#999999;
    float:right;
}

.menu-item-link {
    font-family: Walkway;
    color: #999999;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding:0px 0px 0px 0px !important;
}

.menu-item-link:hover {
    color: #AAAAAA;
    text-decoration: none !important;
}

.menu-item-link-active {
    color: #DDDDDD !important;
}

.center-loader {
    width:130px;
    height:130px;
    top:40%;
    left:47%;
    display: block;
    position: absolute;
}


.flag-holder {
    display: inline-block;
    float: right;
    margin-right: 10px;
}

.social-icon{
    cursor: pointer;
}

@media (min-width: 768px) {
    .nav-item:not(.social-icon) {
        margin-left: 1.5rem !important;
        margin-right: 2rem !important;
    }
}

/* News */

.news-block:not(:first-child) {
    margin-top: 50px;
}

.black-box {
    width: 40px;
    height: 50px;
    border:2px solid #DDDDDD;
    border-radius: 2px;
    display: inline-block;
    margin-right:5px;
}

.title-text {
    display: inline-block;
    vertical-align: top;
}

.news-header {
    font-family: Walkway;
    margin-bottom: 20px;
    width:100%;
}

.news-title {
    color: #FDFDFD;
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.6em !important;
}

.media-title {
    color: #FDFDFD;
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.6em !important;
    text-align: center;
}

.news-subtitle {
    color: #999999;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 1.3em !important;
}

.news-category {
    color: #DDDDDD;
}

.news-thumbnail {
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .news-thumbnail {
        display: block;
    }
}

/* Concept */

.concept-factsheet h2, .content-title {
    font-size: 1.6em;
    color:#FDFDFD;
}

.concept-factsheet h3 {
    font-size: 12pt;
    color:#FDFDFD;
    margin-bottom: 4px;
}

.fact-item {
    margin-top: 25px;
    margin-bottom: 25px;
}

.content-item {
    font-size: 12pt;
    margin-top:10px;
    margin-bottom: 20px;
}

.content-title {
    text-transform: uppercase;
}

.home-title {
    margin-top: 15px;
    margin-bottom: 15px;
}

.factsheet-item {
    font-size: 10pt;
}

/* MEDIA */ 

.screen-item {
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .screen-item {
        text-align: center;
    }

    .video-thumbnail {
        max-width: 400px;
    }
}

.screen-row {
    margin-top: 15px;
}

.video-thumbnail {
    text-align: center;
    padding-top: 10px;
    position:relative;
    width: 560px;
    height: 320px;
    margin: 0 auto 0 auto;
}

.video-controls {
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Position */
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input.position-slider[type='range'] {
      overflow: hidden;
      width: 95%;
      -webkit-appearance: none;
      background-color: #58585A;
      margin: 0 auto 0 auto;
      position: relative;
      bottom: 15px;
      height: 5px;
    }
    
    input.position-slider[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #EC302F;
      margin-top: -1px;
    }
    
    input.position-slider[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #F3F3F3;
      box-shadow: -800px 0 0 800px #EC302F;
    }

}
/** FF*/
input.position-slider[type="range"]::-moz-range-progress {
  background-color: #EC302F; 
}
input.position-slider[type="range"]::-moz-range-track {  
  background-color: #58585A;
}
/* IE*/
input.position-slider[type="range"]::-ms-fill-lower {
  background-color: #EC302F; 
}
input.position-slider[type="range"]::-ms-fill-upper {  
  background-color: #58585A;
}

/* Volume */

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input.volume-slider[type='range'] {
      overflow: hidden;
      width: 75%;
      -webkit-appearance: none;
      background-color: #666563;
      margin: 0 auto 0 0;
      height: 2px;
    }
    
    input.volume-slider[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #F3F3F4;
      margin-top: -1px;
    }
    
    input.volume-slider[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      cursor: ew-resize;
      background-image: url('images/player/slider.png');
      box-shadow: -800px 0 0 800px #F3F3F4;
    }
}

/** FF*/
input.volume-slider[type="range"]::-moz-range-progress {
  background-color: #F3F3F4; 
}

input.volume-slider[type="range"]::-moz-range-track {  
  background-color: #F3F3F3;
}

/* IE*/
input.volume-slider[type="range"]::-ms-fill-lower {
  background-color: #F3F3F4; 
}

input.volume-slider[type="range"]::-ms-fill-upper {  
  background-color: #F3F3F3;
}

/* Team */

.team-member {
    display: block;
    text-align: left;
    margin: 10px 30px 10px 30px;
}

.member-odd {
    text-align: right;
}

.member-odd > .fa {
    position: relative;
    right: 4px;
}

.member-jobs {
    color: #DDDDDD;
}

.member-name {
    color: #FEFEFE;
}

.member-odd > .member-image {
    float:right;
    margin-left: 20px;
}

.member-image {
    float: left;
    display: block;
    margin-right: 20px;
    border: 2px solid white;
}