<div class="main-menu-header">
  <img class="title-image" src="content/images/logo.png">
  <div class="download-button hidden-xs-down">
    <span class="download-big-text">{{ 'MENU.DOWNLOAD' | translate }}</span>
    <br>
    <span class="download-small-text">{{ 'MENU.FORWINDOWS' | translate }}</span>
  </div>
</div>
  <nav class="main-menu navbar">
    <div class="clearfix">
      <button #mobileMenu (click)="isCollapsed = !isCollapsed"
        class="navbar-toggler pull-xs-right hidden-sm-up" type="button"
        aria-controls="bd-main-nav"
        aria-label="Toggle navigation">
          {{menuIcon}}
      </button>
      <div (click)="isCollapsed = true" class="mobile-title hidden-sm-up">
        - {{getSelectedPage().title}} -
      </div>
    </div>
    <div class="navbar-toggleable-xs navbar-collapse" id="bd-main-nav"
    [attr.aria-expanded]="!isCollapsed" [ngClass]="{collapse: isCollapsed}">
      <ul class="nav navbar-nav" style="display:inline-block">
        <li (click)="isCollapsed = true" *ngFor="let page of pages"
          class="nav-item" routerLinkActive="active" [hidden]="isHidden(page)" >
          <a [ngClass]="{'menu-item-link-active': page.selected}" class="nav-item nav-link menu-item-link"
           (click)="onPageSelected(page)" [routerLink]="[page.route]" routerLinkActive="active">{{page.title}}</a>
        </li>
      </ul>
    </div>
  </nav>